body{
    margin: 0;
    background-color: black;
    font-family: 'Press Start 2P';
}
h1{
    color: #fff;
}
#root{
    padding: 3rem;
    text-align: center;
}

#root canvas{
    display: block;
    margin: 0 auto;
}